@charset "UTF-8";

$breakpoint-sm: 400px;
$breakpoint-md: 768px;
$breakpoint-lg: 1000px;

$main-color :#08d;
$color-white :#ffffff;
$sub-color :#eee;
$sub-bd-color: #ddd;
$danger-color :#d9534f;
$label-color :#d9534f;
$color-base: #000000;

$weight-light: 300;
$weight-normal: 400 ;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$page-size-full   :870px;
$page-size-medium :670px;
$page-size-small  :450px;

$size-h1: 1.875rem;
$size-h2: 1.5rem;
$size-font-base: 1rem;
$size-font-2: 1.125rem;

$left: left;
$right: right;
$center: center;

$none: none;

$full: 100%;
$half: 50%;

$base-opacity: 0.6;


@mixin base-interval($bottom){
	margin-bottom: $bottom;
	@content;
}

/*####################################################################
 *### 基本
 *####################################################################*/

/*--------------------------------------------------------------------
 *-
 *--------------------------------------------------------------------*/

/*####################################################################
 *### 一括
 *####################################################################*/
.container{
	@include base-interval(30px);
}

/*####################################################################
 *### パーツ
 *####################################################################*/

/*====================================================================
 *= ページタイトル2
 *====================================================================*/

.page-title{
	@include base-interval(30px);
	background-color: $main-color;
	color: $color-white;
	text-align: center;
	font-size: $size-h1;
	.page-title-in-text{
		font-size: $size-font-base;
	}
}

/*====================================================================
 *= セクションタイトル3
 *====================================================================*/

.section-title{
	@include base-interval(30px);
	border-left : 10px solid $main-color;
	height: 50px;
	padding: 8px 0 0 20px;
	text-align: $left;
	font-size: $size-h2;
}

/*====================================================================
 *= 各種テキスト
 *====================================================================*/
.error-text{
	color: $danger-color;
}

/*====================================================================
 *= ボタン7,10
 *====================================================================*/

.button{
	&.button-main{
		background-color: $main-color;
		color: $color-white;
		&:hover{
			opacity: $base-opacity;
		}
	}
	&.button-sub{
		background-color: $color-white;
		color: $main-color;
		&:hover{
			opacity: $base-opacity;
		}
	}
}

/*####################################################################
 *### ブロック
 *####################################################################*/


/*================================================================
 *= ページラッパー
 *==============================================================*/
.page-wrapper{
	position: relative;
}

/*====================================================================
 *= ヘッダー1
 *====================================================================*/

.header{
	height: 80px;
}

/*====================================================================
 *= フッター8
 *====================================================================*/
.footer{
	text-align: center;
	background-color: $main-color;
	color: $color-white;
	padding: 1rem;
	.footer-info{
		.footer-info-company{
			font-size: $size-h2;
		}
	}
	.footer-copyright{
	}
}
/*====================================================================
 *= プログレスバー12
 *====================================================================*/

.progressbar{
	text-align: $center;
	border-bottom: 2px solid $sub-bd-color;
	padding-bottom: 20px;
	margin: 0 0 0 0;
	.is-now{
		background-color: $main-color;
		color: $color-white;
		border-right: 2px solid $color-white;
	}
	.is-out{
		background-color: $sub-color;
		color: $color-base;
		border-right: 2px solid $color-white;
	}
}

/*====================================================================
 *= ホール情報4
 *====================================================================*/

.hall-info{
	.hall-info-image{
		text-align: $center;
	}
	.hall-info-title{
		height: 50px;
		background-color: $sub-color;
		border: 1px solid $sub-bd-color;
	}
}

/*====================================================================
 *= ホールリスト5
 *====================================================================*/

.hall-list{
	background-color: $sub-color;
	border: 1px solid $sub-bd-color;
	border-bottom: $none;
	&:hover{
		opacity: $base-opacity;
		background-color: $main-color;
	}
	.hall-list-link{
		display: block;
		font-size: 1rem;
		color: $color-base;
		padding: 8px 12px;
		&:hover{
			color: $color-white;
		}
	}
}

/*====================================================================
 *= 葬儀情報6
 *====================================================================*/
.funeral-info{
	.funeral-info-date{
		font-size: $size-font-base;
	}
	.funeral-info-body{
		margin: 0 auto;
		background-color: $sub-color;
		.funeral-info-list{
			background-color: $sub-color;
			.funeral-info-list-name{
				font-weight: $weight-bold;
				font-size: $size-font-2;
			}
		}
		.funeral-info-button{
			background-color: $sub-color;
		}
	}
}

/*================================================================
 *= 商品情報一覧(item.html)9
 *==============================================================*/
.item{
	text-align: $center;
	.table{
		.item-table-th{
			background-color : $sub-color;
			border: 1px solid $sub-bd-color;
			text-align : $center;
			font-weight: $weight-semibold;
			width: $half;
		}
		.item-table-td{
			text-align: $center;
			&:hover{
				background-color: $color-white;
			}
		}
	}
	.item-detail,
	.item-select{
		@include base-interval(30px);
	}
}

/*================================================================
 *= 商品情報確認
 *==============================================================*/
.

/*-------------------------------------------------------------------
 *-モーダル画面
 *-------------------------------------------------------------------*/
.modal-content{
	background-color: $color-white;
}
