@charset "UTF-8";
/*####################################################################
 *### 基本
 *####################################################################*/
/*--------------------------------------------------------------------
 *-
 *--------------------------------------------------------------------*/
/*####################################################################
 *### 一括
 *####################################################################*/
.container {
  margin-bottom: 30px;
}

/*####################################################################
 *### パーツ
 *####################################################################*/
/*====================================================================
 *= ページタイトル
 *====================================================================*/
.page-title {
  margin-bottom: 30px;
  background-color: #08d;
  color: #ffffff;
  text-align: center;
  font-size: 1.875rem;
}
.page-title .page-title-in-text {
  font-size: 1rem;
}

/*====================================================================
 *= セクションタイトル
 *====================================================================*/
.section-title {
  margin-bottom: 30px;
  border-left: 10px solid #08d;
  height: 50px;
  padding: 8px 0 0 20px;
  text-align: left;
  font-size: 1.5rem;
}

/*====================================================================
 *= 各種テキスト
 *====================================================================*/
.error-text {
  color: #d9534f;
}

/*====================================================================
 *= ボタン
 *====================================================================*/
.button.button-main {
  background-color: #08d;
  color: #ffffff;
}
.button.button-main:hover {
  opacity: 0.6;
}
.button.button-sub {
  background-color: #ffffff;
  color: #08d;
}
.button.button-sub:hover {
  opacity: 0.6;
}

/*####################################################################
 *### ブロック
 *####################################################################*/
/*================================================================
 *= ページラッパー
 *==============================================================*/
.page-wrapper {
  position: relative;
}

/*====================================================================
 *= ヘッダー
 *====================================================================*/
.header {
  height: 80px;
}

/*====================================================================
 *= フッター
 *====================================================================*/
.footer {
  text-align: center;
  background-color: #08d;
  color: #ffffff;
  padding: 1rem;
}
.footer .footer-info .footer-info-company {
  font-size: 1.5rem;
}

/*====================================================================
 *= プログレスバー
 *====================================================================*/
.progressbar {
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
  margin: 0 0 0 0;
}
.progressbar .is-now {
  background-color: #08d;
  color: #ffffff;
  border-right: 2px solid #ffffff;
}
.progressbar .is-out {
  background-color: #eee;
  color: #000000;
  border-right: 2px solid #ffffff;
}

/*====================================================================
 *= ホール情報
 *====================================================================*/
.hall-info .hall-info-image {
  text-align: center;
}
.hall-info .hall-info-title {
  height: 50px;
  background-color: #eee;
  border: 1px solid #ddd;
}

/*====================================================================
 *= ホールリスト
 *====================================================================*/
.hall-list {
  background-color: #eee;
  border: 1px solid #ddd;
  border-bottom: none;
}
.hall-list:hover {
  opacity: 0.6;
  background-color: #08d;
}
.hall-list .hall-list-link {
  display: block;
  font-size: 1rem;
  color: #000000;
  padding: 8px 12px;
}
.hall-list .hall-list-link:hover {
  color: #ffffff;
}

/*====================================================================
 *= 葬儀情報(index.html)
 *====================================================================*/
.funeral-info .funeral-info-date {
  font-size: 1rem;
}
.funeral-info .funeral-info-body {
  margin: 0 auto;
  background-color: #eee;
}
.funeral-info .funeral-info-body .funeral-info-list {
  background-color: #eee;
}
.funeral-info .funeral-info-body .funeral-info-list .funeral-info-list-name {
  font-weight: 700;
  font-size: 1.125rem;
}
.funeral-info .funeral-info-body .funeral-info-button {
  background-color: #eee;
}

/*================================================================
 *= 商品情報一覧(item.html)
 *==============================================================*/
.item {
  text-align: center;
}
.item .table .item-table-th {
  background-color: #eee;
  border: 1px solid #ddd;
  text-align: center;
  font-weight: 600;
  width: 50%;
}
.item .table .item-table-td {
  text-align: center;
}
.item .table .item-table-td:hover {
  background-color: #ffffff;
}
.item .item-detail,
.item .item-select {
  margin-bottom: 30px;
}

/*================================================================
 *= 登録者情報入力
 *==============================================================*/





/*-------------------------------------------------------------------
 *-モーダル画面
 *-------------------------------------------------------------------*/
.modal-content {
  background-color: #ffffff;
}




/*# sourceMappingURL=style.css.map */
