@charset "UTF-8";

$main-color :#08d;
$main-font-color :#ffffff;
$sub-color :#eee;
$danger-color :red;
$label-color :#d9534f;
$bg-white: #ffffff;


$weight-right : 400;
$weight-medium: 500;
$weight-bold  : 600;

$page-size-full   :870px;
$page-size-medium :670px;
$page-size-small  :450px;

$page-size-full   :870px;
$page-size-medium :670px;
$page-size-small  :450px;

$size-h1: 1.875rem;
$size-h2: 1.5rem;
$size-h3: 1.25rem;

$left: left;
$right: right;
$center : center;

$base-interval: 20px;

.wrapper{
	position: relative;
}

.page-title{
	background-color: $main-color;
	color: $main-font-color;
	text-align: center;
	margin-bottom: $base-interval;
	h1{
		font-size: $size-h1;
	}
	p{
		}
}

.section-title{
	border-left : 10px solid $main-color;
	height: 50px;
	padding: 8px 0 0 20px;
	text-align: $left;
	margin-bottom: $base-interval;
	h2{
		font-size: $size-h2;
	}
}

.btn{
	width: 100%;
	.btn-main{
		background-color: $main-color;
		color: $main-font-color;
		&:hover{
			opacity: 0.6;
		}
	}
	.btn-sub{
		background-color: $sub-color;
		color: $main-color;
		&:hover{
			opacity: 0.6;
		}
	}
}

.header{
	margin-bottom: $base-interval;
}


.footer{
	text-align: center;
	background-color: $main-color;
	color: $main-font-color;
	padding: 0;
	.company{
		font-size: $size-h3;
	}
	.footer-copyright{
		border-top: 1px solid $bg-white;
	}
}

//hall-info

//funeral-list

//ホールリスト

//モーダル


//
//利用規約
//お問い合わせ
//アコーディオン
//ボード


//クレジットお問い合わせ

//